#movie {
  padding: 20px;
  overflow-x: hidden;
  .button-group {
    margin-bottom: 15px;
  }
}

#movieForm {
  padding: 15px 20px ;
  text-align: center;
  position: relative;
  height: 95%;
  .title {
    display: inline-block;
    margin-bottom: 50px;
    @media screen and (max-width: 1440px) {
      margin-bottom: 20px;
    }
  }
  .form {
    width: 700px;
    margin: auto;
  }
  .submit-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-53%);
    margin: auto;
    width: 200px;
    display: inline-flex;
    justify-content: space-between;
  }
}
