@import "../../Common.scss";
.el-table {
  text-align: center;
  th, td {
    padding: 0 !important;
  }
  .del-table-btn, .disabled-table-btn {
    color: #F56C6B;
  }
  .edit-table-btn {
    color: #409EFF;
  }
  .enable-table-btn {
    color: #67C23A;
  }
}
.button-group {
  margin-bottom: 10px;
}
.selection {
  display: inline-flex;
  th > .cell {
    display: inline-flex !important;
    justify-content: center !important;
  }
}
