@import "../../Common.scss";
.el-table {
  text-align: center;
  th,
  td {
    padding: 0 !important;
  }
  .del-table-btn,
  .disabled-table-btn {
    color: #f56c6b;
  }
  .edit-table-btn {
    color: #409eff;
  }
  .enable-table-btn {
    color: #67c23a;
  }
}
.selection {
  display: inline-flex;
  th > .cell {
    display: inline-flex !important;
    justify-content: center !important;
  }
}
