/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
//$--color-primary: hotpink;

/* icon font path, required */
$--btn-padding: 0 10px 0 10px;
$--btn-width: 50px;

$--blue: #007bff;
$--indigo: #6610f2;
$--purple: #6f42c1;
$--pink: #e83e8c;
$--red: #dc3545;
$--orange: #fd7e14;
$--yellow: #ffc107;
$--green: #28a745;
$--teal: #20c997;
$--cyan: #17a2b8;
$--white: #fff;
$--gray: #6c757d;
$--gray-dark: #343a40;
$--primary: #007bff;
$--secondary: #6c757d;
$--success: #28a745;
$--info: #17a2b8;
$--warning: #ffc107;
$--danger: #dc3545;
$--light: #f8f9fa;
$--dark: #343a40;

